html, body {
  background-color: #17152B;
}
.navbar{
  background-color: #211A3D;
}
.primary-button {
  background-color: #F72585;
}

.primary-button:hover {
  background-color: #D91B70;
}
.secondary-button {
  background-color: #211A3D;
}
.secondary-button:border {
  background-color: #7209B7;
}